<h1>{{ object.name }}</h1>
<table>
    <tr>
        <td>Task to do</td>
        <td>Done?</td>
        <td>Deadline date</td>
    </tr>

    {% for item in object.item_set.all %}
        <tr>
            <td>{{ item.task }}</td>
            <td>{{ item.status}}</td>
            <td>{{ item.deadline_date }}</td>
            
        </tr>
    {% endfor %}
    <tr><td><a href="{% url 'todos:addtask' object.id %}">Add new task</a></td></tr>
</table><br>
<a href="{% url 'todos:index' %}">Back to lists</a>
